body{
    background-color:#F2F5F7;
    padding:0px 30px;
    display:grid;
    gap:30px;
    grid-template-rows: 2fr 12fr 1fr;
    color:black;
    height:100dvh;
}
.bigTitle{
    background-color:#A2D2FF;
    text-align:center;
    font-size:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30px;
}
.cardGroup{
    background-color:#A2D2FF;
    display:grid;
    padding:30px;
    gap:30px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius:30px;
}
.projectCard{
    background-color:#F2F5F7;
    display:flex;
    flex-direction:column;
    font-size:30px;
    gap:10px;
    padding:10px;
    border-radius:20px;
}
.todoCard{
    background-color:#A2D2FF;
    font-size:20px;
    padding:5px;
    display:flex;
    flex-direction:column;
    gap:3px;
    border-radius:10px;
}
.buttonBox{
    display:flex;
    justify-content:center;
}
#newProject{
    height:100px;
    width:100px;
    border-style:none;
    background-color:#F2F5F7;
}
#dialogForm:modal{
    padding:25px;
    border-style:none;
    background-color:white;
    display:grid;
    width:50dvw;
    height:70dvh;
    grid-template-rows: 1fr 10fr;
    grid-template-columns:1fr 8fr;
    border-radius:30px;
    box-shadow: 0px 0px 10px 10px gray;
}
#closeButton{
    border-style:none;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
#dialogForm >form{
    grid-column: 1/3;
    grid-row:2/3;
    padding:20px 10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    font-size:25px;
}
.queryBox{
    display:grid;
    grid-template-rows: 1fr 1fr ;
}
.queryBox>input{
    padding:1px;
    margin:0px;
    font-size:20px;
}
#project{
    font-size:20px;
    padding:1px;
    margin:0px;
}
.submitButtonBox{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50px;
    margin-top:20px;
}
#submitButton{
    background-color:#A2D2FF;
    border-style: none;
    border-radius:30px;
    height:100%;
    font-size:20px;
    padding:15px 20px;
}